.nav-others {
  min-width: 100vw;
  background-color: #F36600;
  color: white !important;
}
.navbar-custom {
  color: white;
  max-width: none;
  -webkit-backdrop-filter: bluer(10px);
  backdrop-filter: blur(10px);
}