.offer-container {
  background: rgb(234, 109, 2);
  background: linear-gradient(
    90deg,
    rgba(234, 109, 2, 1) 0%,
    rgba(245, 92, 2, 1) 49%,
    rgba(243, 80, 0, 1) 100%
  );
  cursor: default;
}

.items {
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

.items.show {
  opacity: 1;
}

.card-1,
.card-2,
.card-3 {
  border: solid;
  border-radius: 16px;
  background-color: rgb(232, 135, 77);
  border-color: transparent;
  margin: 1rem;
  padding: 1.5rem;
  -webkit-backdrop-filter: bluer(50px);
  backdrop-filter: blur(50px);
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  transition: scale 1s;
  scale: 1.02;
}
